* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    background: #ffffff;
}

.container {
    background: #ffffffbe;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.638);
    transition: background-color 0.2s ease-in-out;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.color-box {
    background: #333;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.flipper-btn {
    background: #ff4757;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.flipper-btn:hover {
    background: #e84118;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 1.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .color-box {
        font-size: 1.2rem;
    }

    .flipper-btn {
        padding: 0.7rem 1.2rem;
        font-size: 0.9rem;
    }
}
